<% genres.each do |genre| %>
<div class="col jenre-items p-0">
  <div class="jenre-item font-weight-bold p-2">
    <p class="m-0 d-flex justify-content-between">
      <%= genre.name %><span class="ps-1"><i class="fas fa-caret-square-down"></i></span>
    </p>
  </div>
  
  <div class="category-list">
    <% genre.categories.each do |category| %>
      <div class="category-item">
        <%= link_to category.name, search_recipe_path(category_id: category.id), class:"w-100 btn"%>
      </div>
    <% end %>
  </div>
</div>
<% end %>

<div class="col time-items p-0">
  <div class="jenre-item text-center font-weight-bold p-2">
    <p class="m-0 d-flex justify-content-between">
      時間で選ぶ<span class="ps-1"><i class="fas fa-caret-square-down"></i></span>
    </p>
  </div>
  <div class="category-list">
    <% Recipe.search_time_data.each do |search_time| %>
      <div class="category-item">
        <%= link_to search_time[0], search_recipe_path(search_time: search_time[1]), class:"w-100 d-block btn" %>
      </div>
    <% end %>
  </di>
</div>