<% genres.each do |genre| %>
<div class="col jenre-items p-0">
  <div class="jenre-item d-flex font-weight-bold p-2">
    <p class="m-0 p-0 col-10 genre-name">
      <%= genre.name %>
    </p>
    <p class="m-0 p-0 col-2 text-right">
      <i class="fas fa-caret-square-down"></i>
    </p>
  </div>
  
  <div class="category-list">
    <% genre.categories.each do |category| %>
      <div class="category-item">
        <%= link_to category.name, select_time_or_category_recipe_path(category_id: category.id), class:"w-100 btn"%>
      </div>
    <% end %>
  </div>
</div>
<% end %>

<div class="col time-items p-0">
  <div class="jenre-item d-flex font-weight-bold p-2">
    <p class="m-0 p-0 col-10 time-name">
      時間で選ぶ
    </p>
    <p class="m-0 p-0 col-2 text-right">
      <i class="fas fa-caret-square-down"></i>
    </p>
  </div>
  <div class="category-list">
    <% Recipe.time_data(3,30,"以内").each do |search_time| %>
      <div class="category-item">
        <%= link_to search_time[0], select_time_or_category_recipe_path(search_time: search_time[1]), class:"w-100 d-block btn" %>
      </div>
    <% end %>
  </di>
</div>