<%= render 'layouts/error_messages', resource: @recipe %>
<div class="container my-5">
  <%= render 'form', recipe: @recipe %>
</div>

<script>
  window.onload = addToNewUrl();
  function addToNewUrl() {
    let path = location.pathname;
    let pattern = /^.*\/edit.*$/
  
    if(path.match(pattern)) return;
    history.replaceState('', '', `${ path }/edit`)
  }
</script>