<%= render 'layouts/error_messages', resource: @recipe %>
<div class="container my-5">
  <%= render 'form', recipe: @recipe %>
</div>

<%= javascript_pack_tag 'public/url_changer' %>

<script>
// window.onload = addToNewUrl();
//   function addToNewUrl() {
//   let path = location.pathname;
//   let pattern = /^.*\/new.*$/

//   if(path.match(pattern)) return;
//   history.replaceState('', '', `${ path }/new`)
// }
</script>