<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="top_image_form d-flex mx-auto mt-3">
        <%= image_tag 'top_image.jpg', class:"img-fluid mx-auto" %>
        <p class="cover-text">COTTURA!</p>
      </div>
      <div class="text-center mx-auto" style="max-width: 356px;">
        <p class="m-0 mt-3" style="text-align: left;">
          ようこそCOTTURAへ！</br>
          このサイトはレシピサイトはレシピサイトです</br>
          レシピを投稿したり検索したり出来ます
        </p>
      </div>
      <div class="text-center my-4 ">
        <%= link_to "レシピ一覧", recipes_path, class:"btn btn-lg btn-success"%>
      </div>
    </div>
  </div>
  <h5 class="font-weight-bold border-bottom border-secondary mb-3">新着レシピ！</h5>
  <div class="row mt-3">
    <% @new_recipes.each do |new_recipe| %>
      <div class="col">
        <%= link_to recipe_path(new_recipe.id) do %>
          <%= render "/public/recipes/recipe_lists", recipe: new_recipe %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
