<div class="container my-4">
  <div class="row mb-3">
    <div class="col-sm-8 mx-auto">
      <h2>管理者画面</h2>
      <h5 class="mt-5">レポート一覧</h5>
      
      <table class="table">
        <thead>
          <tr class="align-middle">
            <th>対象者</th>
            <!--文字数制限かけて表示-->
            <th>違反内容</th>
            <th>報告者</th>
            <th>報告日時</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>