.navbar-brand {
  background-image: url(../../assets/images/cottura.png);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-position: center center;
  background-size: 70px 70px;
  margin: 0;
  padding: 0;
}

.nav-link {
  position: relative;
  z-index: 1;
  color: #282936 !important;
}

.nav-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 0.21rem;
  background-color: #282936;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
}

.nav-link:hover {
 color: #fff !important;
}

.nav-link:hover::before {
 width: 100%;
}

@media (min-width:992px) {
  #admin-nav .nav-item .nav-link{
   font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width:991px) {
  #admin-nav .nav-item .nav-link{
   font-size: 11px;
  }
}

@media (min-width: 768px) {
  li .nav-link {
    border: 1px solid black;
  }
}

@media (max-width: 767px) {
  .navbar-nav{
    margin-top: 1em;
  }
  .nav-item{
    border-bottom: 1px solid black;
  }
}