
.profile-link a {
  text-decoration: none;
}

.report_icon {
  position: relative;
}

.report_comment {
  position: absolute;
  display: none;
  padding: 7px 10px;
  margin-top: 11px;
  min-width: 186px;
  max-width: 100%;
  color: #fff;
  font-size: 16px;
  background: #ffc107;
  left: -135px;
  border-radius: 5px;
  z-index: 1;
}

.report_comment:before {
  content: "";
  position: absolute;
  top: -26px;
  left: 86%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-bottom: 19px solid #ffc107;
}

.report_icon :hover + .report_comment {
  display: block;
}

.user_profile_name {
  padding-right: 15px;
  font-size: 12px;
  font-weight: bold;
}

@media (min-width:1200px) {
  .recipe-show-items .recipe-index-item {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
  .recipe-show-items .recipe-index-item:nth-child(4n+1){
    margin-left: 3.6rem;
  }
  .recipe-show-items .recipe-index-item:nth-child(4n) {
    margin-right: 0;
  }
}

@media (min-width:992px) and (max-width:1199px) {
  .recipe-show-items .recipe-index-item {
    width: 213px !important;
  }
  .recipe-show-items .recipe-index-item:nth-child(4n+1){
    margin-left: 0.3rem;
  }
  .recipe-show-items .recipe-index-item:nth-child(4n) {
    margin-right: 0;
  }
}

@media (min-width:768px) and (max-width:991px) {
  .recipe-show-items .recipe-index-item {
    width: 210px !important;
  }
  .recipe-show-items .recipe-index-item:nth-child(3n) {
    margin-right: 0;
  }
}

@media (min-width:570px) and (max-width:767px) {
  .recipe-show-items .recipe-index-item {
    width: 229px !important;
  }
  .recipe-show-items .recipe-index-item:nth-child(2n) {
    margin-right: 0;
  }
}

@media (max-width:569px) {
  .recipe-show-items {
    display: block;
  }
  
  .recipe-index-item {
    margin: 0 auto;
  }
}