
.field_with_errors {
  display: contents;
}

.profile-link a {
  text-decoration: none;
}

.report_icon {
  position: relative;
}

.report_comment {
  position: absolute;
  display: none;
  padding: 7px 10px;
  margin-top: 11px;
  min-width: 186px;
  max-width: 100%;
  color: #fff;
  font-size: 16px;
  background: #ffc107;
  left: -135px;
  border-radius: 5px;
  z-index: 1;
}

.report_comment:before {
  content: "";
  position: absolute;
  top: -26px;
  left: 86%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-bottom: 19px solid #ffc107;
}

.report_icon :hover + .report_comment {
  display: block;
}

.user_profile_name {
  padding-right: 15px;
  font-size: 12px;
  font-weight: bold;
}

.input-review {
  border: none;
  border-bottom: 2px solid #cccccc;
}

.tag-item{
  border: 1px solid;
  border-radius: 10px;
  background-color: #6c757d;
  color: #fff;
}


@media (min-width:992px) {
  .recipe-show {
    padding-left: 13rem;
  }
}


@media (min-width:768px) and (max-width:991px) {
  .recipe-show {
    padding-left: 10rem;
  }
}