/* レシピ画像 */
.input-image{
  display: none;
}
/* レシピ画像(デフォルト) */
.default-image{
  width: 500px;
  object-fit: cover;
}
/* レシピ画像(新規) */
.new-recipe-image {
  width: 480px;
  height: 480px;
  object-fit: cover;
}

/*step用のサンプル画像CSS*/
.step-sample-image{
	width: 90px;
	height: 90px;
}
.step-sample-image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.recipe_step_iamage_field{
  margin-left: 6vw;
}


/*材料、作り方、タグ追加のボタンcss*/
.add_fields{
  display: inline-block;
  background: #6c757d;
  width: 30%;
  text-align: center;
  border-radius: 10px;
  margin: auto 0;
  padding: 10px 5px;
  color: white;
  text-decoration: none;
}

a.add_fields:hover,a.add_fields:visited{
  color : white;
}

.recipe_step > .add_fields, .tags > .add_fields, .sb-btn{
  display: block;
  margin: 0 auto;
  width: 67%;
}

/*削除アイコン*/
.remove-field-btn{
  margin: auto 0 auto 7px;
}

/* 作り方の部分的小文字 */
.small-font{
  font-size: 16px;
}

/*セレクトボックス*/

.selectdiv select {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0.25rem;
  font-size: 15px;
  border: 2px solid #cccccc;
  color: #333;
  text-align: center;
  background-color: #ffffff;
  background-image: none;
  border-radius: 10px;
  -ms-word-break: normal;
  word-break: normal;
  font-weight: bold;
}

.selectdiv :disabled {
  background-color: darkgrey;
}

/*投稿時フォームの罫線、サイズ*/
.recipe-name,.recipe-content,.ingredient-name,.ingredient-quantity,.step-content,.ingredient-quantity{
  border: none;
  border-bottom: 2px solid #cccccc;
}

.recipe-name{
  font-size: 27px;
  text-align: center;
  font-weight: bold;
}

.ingredient-name,.ingredient-quantity {
  width: 30%;
}

.input-radio {
  width:49%;
}

.input-gest-radio {
  width:67%;
}

.radio-form {
  border-radius: 10px;
  border: 1px solid #212529;
}

.btn-check:checked + .radio-form {
  background: #6c757d;
  color: #fff;
  text-shadow: 0 0 1px rgba(0,0,0,.7);
  font-weight: 400;
}

.recipe_step{
  counter-reset: number 0;
}

.step_number::before {
  counter-increment: number 1;
  content: "Step." counter(number);
}

/*メディクリ*/

@media (min-width:1400px)  {
  .ingredient-name{
    width: 48%;
  }
  .ingredient-quantity{
    width: 33%;
  }
  .recipe_ingredient_inputBox .unit{
    width: 16%;
  }
}


@media (min-width:1200px) and (max-width:1399px) {
  .ingredient-name{
    width: 48%;
  }
}

@media (min-width:992px) and (max-width:1199px) {
  .ingredient-name{
    width: 40%;
  }
  .ingredient-quantity{
    width: 33%;
  }
}

@media (max-width:991px)  {
  .selectdiv{
    font-size: 12px;
  }
}