
.search-form, .search-category{
    background-color: peachpuff;
}

.tag_labels {
    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
}

.recipe-index-item {
    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
    margin-right: 0.5rem;
    width: 219px !important;
    box-sizing: border-box;
}
.recipe-index-title, .recipe-index-time {
  margin-left: 5%;
}

.page-item.active .page-link {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.page-link {
  color: #6c757d;
}

@media (min-width:1200px) {
  .recipe-index-items .recipe-index-item:nth-child(5n) {
    margin-right: 0;
  }
}

@media (min-width:992px) and (max-width:1199px) {
  .recipe-index-items .recipe-index-item:nth-child(4n+1){
    margin-left: 1.6rem;
  }
  .recipe-index-items .recipe-index-item:nth-child(4n){
    margin-right: 0;
  }
}

@media (min-width:768px) and (max-width:991px) {
  .recipe-index-items .recipe-index-item:nth-child(3n+1){
    margin-left: 1.3rem;
  }
  .recipe-index-items .recipe-index-item:nth-child(3n){
     margin-right: 0;
  }
}


@media (min-width:570px) and (max-width:767px) {
  .recipe-index-items .recipe-index-item:nth-child(2n+1){
    margin-left: 2.7rem;
  }
  .recipe-index-items .recipe-index-item:nth-child(2n){
     margin-right: 0;
  }
}

@media (max-width:569px) {
  .recipe-index-items {
    display: block;
  }
  
  .recipe-index-item {
    margin: 0 auto;
  }
  .jenre-category-box{
    font-size: 12px;
  }
}

.jenre-item {
  border: 1px solid black;
  position: relative;
  z-index: +1;
  cursor: pointer;
}
.category-list {
    display: none;
    box-sizing: border-box;
}
.category-item{
    border-bottom: 1px solid black;
}