
.search-form, .search-category{
    background-color: peachpuff;
}

.tag_labels {
    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
}

.recipe-index-item {
    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    max-width: 268px;
}
.recipe-index-title, .recipe-index-time {
  margin-left: 7%;
}

.category-list {
  margin-left: 5%;
}


@media (min-width:992px) and (max-width:1199px) {
  .recipe-index-items .recipe-index-item:nth-child(3n+1){
    margin-left: 3.9rem;
  }
}

@media (min-width:768px) and (max-width:991px) {
  .recipe-index-items .recipe-index-item:nth-child(2n+1){
    margin-left: 4.9rem;
  }
}

@media (max-width:569px) {
  .recipe-index-items {
    display: block;
  }
  
  .recipe-index-item {
    margin: 0 auto;
  }
}

.jenre-item {
  border: 1px solid black;
  position: relative;
  z-index: +1;
  cursor: pointer;
}
.category-list {
    display: none;
    box-sizing: border-box;
}
.category-item{
    border-bottom: 1px solid black;
}