
.body-box{
  position: relative;
  padding-bottom: 60px;
  box-sizing: border-box;
  min-height: 100vh;
}

.footer{
  position: absolute;
  bottom: 0;
}

/*画像処理*/
.top_image_form{
  position: relative;
}

.cover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-shadow: 4px 2px 5px black;
  color: white;
  font-family: -webkit-body;
  letter-spacing: 0.1em;
  font-weight: bold;
}

@media (min-width:768px) {
  .cover-text {
    font-size: 60px;
  }
}
@media (max-width:768px) {
  .cover-text {
    font-size: 45px;
  }
}
@media (max-width: 479px) {
  .cover-text {
    font-size: 30px;
  }
}