/*タブ機能*/
.tab-group{
  display: flex;
  justify-content: center;
}
.tab{
  flex-grow: 1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 8px;
  list-style: none;
  text-align: center;
  cursor: pointer;
}

.panel{
  display: none;
}
.tab.is-active{
  background: #fff;
  transition: all 0.2s ease-out;
  border-top: 2px solid #446CB3;
  border-right: 2px solid #446CB3;
  border-left: 2px solid #446CB3;
  font-weight: bold;
}
.panel.is-show{
  display: block;
}

.panel-group {
  background-color: #fff;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: 2px solid #446CB3;
  border-left: 2px solid #446CB3;
  border-bottom: 2px solid #446CB3;
  min-height: 320px;
}

.tab.no-active{
  background: #446CB3;
  color: #fff;
}

/*ユーザー画像を丸く*/
.user_profile_image{
  border-radius: 50%;
  border: 1px solid black;
}

@media (min-width:1200px) {
  .recipe-show-items .recipe-index-item {
    margin-right: 1.5rem;
    margin-left: 0.5rem;
  }
  .recipe-show-items .recipe-index-item:nth-child(4n+1) {
    margin-left: 3.6rem;
  }
  .recipe-show-items .recipe-index-item:nth-child(4n) {
    margin-right: 0;
  }
}

@media (min-width:992px) and (max-width:1199px) {
  .recipe-show-items .recipe-index-item:nth-child(4n) {
    margin-right: 0;
  }
  .recipe-show-items .recipe-index-item:nth-child(4n+1) {
    margin-left: 0.6rem;
  }
}

@media (min-width:768px) and (max-width:991px) {
  .recipe-show-items .recipe-index-item:nth-child(3n) {
    margin-right: 0;
  }
  .recipe-show-items .recipe-index-item:nth-child(3n+1) {
    margin-left: 0.3rem;
  }
}

@media (min-width:570px) and (max-width:767px) {
  .recipe-show-items .recipe-index-item:nth-child(2n) {
    margin-right: 0;
  }
  .recipe-show-items .recipe-index-item:nth-child(2n+1) {
    margin-left: 1.6rem;
  }
}

@media (max-width:569px) {
  .recipe-show-items {
    display: block;
  }
  
  .recipe-index-item {
    margin: 0 auto;
  }
}