  <div class="mt-5 row">
    <div class="col text-center m-1 text-bg-secondary" style="width: 200px;">resipe_index</div>
    <div class="col text-center m-1 text-bg-secondary" style="width: 200px;">resipe_index</div>
    <div class="col text-center m-1 text-bg-secondary" style="width: 200px;">resipe_index</div>
    <div class="col text-center m-1 text-bg-secondary" style="width: 200px;">resipe_index</div>
  </div>